#home #nav_wrapper { width: 100%; position: absolute; top: 25px; left: 0; text-align: center; }
#home #navigation { width: 820px; margin: 0 auto 0; text-align: right;}
#home #navigation li { float: none; padding: 20px;}
#home #navigation li a:hover { color: #ffde45; border-top: 3px solid #ffde45;}
#home #primary_content { margin-top: 50px;}

#secondary h1 { }
#secondary #nav_wrapper { width: 100%; background: url('../img/strip-upper.png') 62px 1px repeat-x; position: absolute; top: 0; left: 0;} 
#secondary #navigation { width: 820px; margin: 0 auto; background: none; position: relative; text-align: right; top: auto; left: auto;}
#secondary #navigation li { display: inline; float: none; margin: 0 0 0 20px; padding: 0 0 0 0; }
#secondary #navigation li a { display: inline;  float: none; margin: 0; padding: 0;}
#secondary #primary_content { margin-top: 0; padding-top: 50px;} 

#aside ul { padding: 0; margin: 0;}
#aside ul li { padding: 0; margin: 0;}

#contact_form fieldset input, textarea { background: #ddd;}

html body #related_content .scrollable .items div h3 {font-size: 10px;}