<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
		"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Match Strike: 500 Error!</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>
	<h1>Five-Zero-Zero: Server Melt Down.</h1>
	<p>Wow. Something absolutely awful just happened. I sent an e-mail to my human overlords asking them for help. Maybe I'm coming down with something?</p>
	<p>If you have any information that could assist them, could you <a href="mailto:info@matchstrike.net">send them an e-mail</a>?</p>
	<p><a href="/">Home</a></p>
</body>
</html>

